<div class="vinyl-details">
    <h1>{{this.album}}</h1>
    <h2>by {{this.artist}}</h2>
    <img src="{{this.image}}">
    <h3>Price: {{this.price}}</h3>
    <h4>Release date: {{this.year}}</h4>
    <h4>Genre: {{this.genre}}</h4>
    <h4>Condition: {{this.condition}}</h4>
    <p>{{this.description}}</p>
</div>