<h1>Available Vinyl Records</h1>
{{#each vinyl}}

    <section class="card row mx-5 mb-5" style="width: 18rem;">
        {{#if image}}
        <img src="/images/{{this.image}}" alt="{{this.album}}" class="card-img-top">
        {{/if}}
        <div class="card-body">
            <h4 class="card-title">{{this.album}}</h4>
            <h3 class="card-title">by {{this.artist}}</h3>
            <p class="card-text">Price: {{this.price}}€</p>
            <a href="/vinyl/{{this.id}}" class="btn btn-primary">View details</a>
        </div>
    </section>

{{/each}}
