<h2>Edit the vinyl ad</h2>
<form action="/vinyl/{{this.id}}/edit" method="post">
  <label>
    Album:
    <input type="text" name="album" value="{{this.album}}" />
  </label>
  
  <label>
    Artist:
    <input type="text" name="artist" value="{{this.artist}}" />
  </label>

  <label>
    Year:
    <input type="number" name="year" min="1948" max="2022" value="{{this.year}}"/>
  </label>

  <label>
    Genre:
    <select name="genre" value="{{this.genre}}">
      <option value="Pop">Pop</option>
      <option value="Rock">Rock</option>
      <option value="Indie">Indie</option>
      <option value="Jazz">Jazz</option>
      <option value="Metal">Metal</option>
      <option value="Country">Country</option>
    </select>
  </label>

  <label>
    Condition:
    <input type="radio" name="condition" value="New" value="{{this.condition}}" />
    <label>New</label>
    <input type="radio" name="condition" value="Used" />
    <label>Used</label>
  </label>

    <label>
     <textarea rows="4" cols="50" name="description" form="usrform" {{this.decription}}></textarea>
    </label>

  <label>
    Price:
    <input type="number" name="price" min="1" value="{{this.price}}" /> €
  </label>

  <label>
    Upload image:
    <input type="file" name="image">
  </label>

  <button class="btn btn-primary" type="submit">Submit</button>

</form>