<h1 id="vinyl-list-h1">Available Vinyl Records</h1>


    <div class="container">
    <div class="row" style="display:flex; justify-content:center">
    {{#each vinyl}}
    <section class="card col-3" style = "margin: 1%">
        {{#if image}}
        <img src="{{this.image}}" alt="{{this.album}}" class="card-img-top">
        {{/if}}
        <div class="card-body">
            <h4 class="card-title">{{this.album}}</h4>
            <h3 class="card-title">by {{this.artist}}</h3>
            <p class="card-text">Price: {{this.price}}€</p>
            <a href="/vinyl/{{this.id}}" class="btn btn-primary">View details</a>
        </div>
    </section>
    {{/each}}
    </div>
    </div>


