<div class="vinyl-details">

    <section class="card row mx-5 mb-5" style="width: 18rem;">
        <img src="/images/{{this.image}}" alt="{{this.album}}" class="card-img-top">
        <div class="card-body">
            <h2 class="card-title">{{this.album}}</h2>
            <h6>by</h6><h3 class="card-title">{{this.artist}}</h3>
            <h5 class="card-title"><b>Price:</b> {{this.price}}€</h5>
            <h5 class="card-title"><b>Release date:</b> {{this.year}}</h5>
            <h5 class="card-title"><b>Genre:</b> {{this.genre}}</h5>
            <h5 class="card-title"><b>Condition:</b> {{this.condition}}</h5>
            <p class="card-text">{{this.description}}</p>
            <a href="/vinyl/{{this._id}}/edit" class="btn btn-primary">Edit</a>
            <form action="/vinyl/{{this._id}}/delete" method="post" ><button class="btn btn-primary">Delete</button></form>
        </div>
    </section>
    
</div>